header{
    color:black;
}

#openingStatement{
    color:black;
}

body{
    background-image: url(http://img.freeflagicons.com/thumb/flag_frame/ghana/ghana_640.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 1500px;
    
}

#IntroLogo{
    
    float:top;
}