/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-Dec-2017, 22:08:59
    Author     : Jenny
*/

<!--About us page-->
h1.heading-centre {
    text-align: center;
}
h3.welcome {
    text-align: center;
}
p.aboutUs {
    font-size: 18px;
    text-align: center;
}
h2.link {
    text-align: center;
}
p.larger-text {
    font-size: 21px;
}
.sign-up {
    font-size: 23px;
    text-align: center;
}

<!--Contact us page-->
h1.heading-left {
    text-align: left;
    font-size: 40px;
}
h3.contactheadings {
    text-align: left;
    
}
h2.question-heading {
    text-align: left;
}



